* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.nav_bar {
    position: sticky;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: black;
    align-items: center;
    z-index: -2;
}
.nav_menu {
    padding: 20px;
    margin-left: auto;
    list-style: none;
    display: flex;
}
.nav_item {
    padding: 20px;
}
.nav_item .nav_link {
    text-decoration: none;
    color: white;
}
.side_bar {
    top: 80px;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    line-height: 10rem;
    overflow-y: scroll;
    z-index: 1;
}
.side_menu {
    list-style: none;
}

 
main {
    top: 80px;
    padding: 40px;
    background-color: beige;
    width: 900px;
    overflow: auto;
}
.right_bar {
    top: 80px;
    position: fixed;
    right: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    line-height: 10rem;
    height: 100vh;
    overflow-y: scroll;
    opacity: 0.5;
}
.right_menu {
    list-style: none;
}