* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kodchasan', sans-serif;
    font-size: 16px;
}
.nav_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #17181A;
    height: 123px;
} 
.right {
    display: flex;
}
.left {
    display: flex;
}
.logo {
    display: flex;
    height: 82px;
    width: 82px;
    background-color: #FFFFFF;
    color: #000;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
}
a:link {
    text-decoration: none;
}

.initial_N {
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}
.initial_P {
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
}

.myname {
    display: flex;
    color: #FFFFFF;
    padding: 0 15px;
    align-items: center;
    font-weight: 300;
    font-size: 1.5rem;
}
.nav_menu {
    display: flex;
    list-style: none;
    color: #FFFFFF;
}
.nav_item {
    padding: 0 15px;
}
.introduction {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #17181A;
    color: #FFFFFF;
    height: 320px;
    width: 100%;

}
.intro_title {
    margin: 50px 0 0 212px;
    font-weight: 200;
    font-size: 0.75rem;
}
.intro_paragraph {
    margin: 50px 0 0 212px;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2rem;
}
.project_title {
    position: absolute;
    margin: 50px 0 0 212px;
    bottom: 1.25rem;
    font-weight: 200;
    font-size: 0.75rem;
}
.myprojects {
    display: flex;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pictures {
    flex: 1;
    margin: 5px;
    opacity: 1;
    transition: 0.3s;
}
.pictures:hover {
    opacity: 0.5;
}
.img_text {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
}
.project_name {
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #FFFFFF;
}
